Repository input-output-hk/chain-wallet-libs, pull requests merged in 2020-05, with the labels that each got.

#49 Handle exceptions in android plugin
  .github/workflows/ci_checks.yaml
  bindings/wallet-cordova/.eslintrc.yml
  bindings/wallet-cordova/package.json
  bindings/wallet-cordova/src/android/WalletPlugin.java
  bindings/wallet-cordova/src/browser/Wallet.js
  bindings/wallet-cordova/src/electron/walletProxy.js
  bindings/wallet-cordova/src/windows/Wallet.js
  bindings/wallet-cordova/tests/tests.js
  bindings/wallet-cordova/www/wallet.js
Labels: bindings - cordova

#50 Add wasm to cordova electron release
  .github/workflows/release.yaml
Labels: bindings - cordova

#51 Add conversion to jni and java test
  bindings/wallet-jni/java/.gitignore
  bindings/wallet-jni/java/WalletTest.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Conversion.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Settings.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Wallet.java
  bindings/wallet-jni/java/hamcrest-core-1.3.jar
  bindings/wallet-jni/java/junit-4.13.jar
  bindings/wallet-jni/java/run_test.py
  bindings/wallet-jni/src/lib.rs
Labels: bindings - jni, bug, enhancement

#53 Return ready-to send fragment raw
  bindings/wallet-core/Cargo.toml
  bindings/wallet-core/src/c.rs
  bindings/wallet-core/src/conversion.rs
  bindings/wallet-core/src/wallet.rs
  bindings/wallet-js/src/lib.rs
  wallet/src/transaction/dump.rs
  wallet/tests/daedalus.rs
  wallet/tests/utils/mod.rs
  wallet/tests/yoroi.rs
Labels: bug, enhancement

#55 expose Account ID
  bindings/wallet-android/src/main/java/com/iohk/jormungandrwallet/Wallet.kt
  bindings/wallet-c/src/lib.rs
  bindings/wallet-c/wallet.h
  bindings/wallet-cordova/src/android/WalletPlugin.java
  bindings/wallet-cordova/src/android/jormungandrwallet/Wallet.java
  bindings/wallet-cordova/src/electron/walletProxy.js
  bindings/wallet-cordova/tests/tests.js
  bindings/wallet-cordova/www/wallet.js
  bindings/wallet-core/src/c.rs
  bindings/wallet-core/src/wallet.rs
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Wallet.java
  bindings/wallet-jni/src/lib.rs
  bindings/wallet-js/src/lib.rs
  hdkeygen/src/account.rs
  wallet/src/lib.rs
Labels: bindings - c, bindings - cordova, bindings - jni, bindings - js, enhancement

#56 bindings - check null pointer on wallet_id()
  bindings/wallet-core/src/c.rs
  wallet/src/recovering/icarus.rs
Labels: bindings - c, enhancement

#52 Add conversions to wallet cordova android
  .github/workflows/release.yaml
  bindings/wallet-cordova/.eslintrc.yml
  bindings/wallet-cordova/.gitignore
  bindings/wallet-cordova/README.md
  bindings/wallet-cordova/build_jni.py
  bindings/wallet-cordova/copy_jni_definitions.py
  bindings/wallet-cordova/package.json
  bindings/wallet-cordova/plugin.xml
  bindings/wallet-cordova/src/android/WalletPlugin.java
  bindings/wallet-cordova/src/android/jormungandrwallet/Settings.java
  bindings/wallet-cordova/src/android/jormungandrwallet/Wallet.java
  bindings/wallet-cordova/src/electron/walletProxy.js
  bindings/wallet-cordova/tests/tests.js
  bindings/wallet-cordova/www/wallet.js
Labels: bindings - cordova

#58 doc - init getting started documentation
  doc/getting_started.md
Labels: VOTE, documentation, enhancement

#59 Cordova plugin for iOS
  bindings/wallet-cordova/BUILD.md
  bindings/wallet-cordova/build_ios.py
  bindings/wallet-cordova/plugin.xml
  bindings/wallet-cordova/src/ios/.clang-format
  bindings/wallet-cordova/src/ios/WalletPlugin.h
  bindings/wallet-cordova/src/ios/WalletPlugin.m
  bindings/wallet-cordova/src/osx/Wallet.h
  bindings/wallet-cordova/src/osx/Wallet.m
Labels: bindings - cordova

#60 add conversion get ignored and fix pointer bug
  bindings/wallet-jni/java/WalletTest.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Conversion.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Wallet.java
  bindings/wallet-jni/src/lib.rs
Labels: bindings - jni, bug, enhancement

#62 Readme - add links to documentation
  README.md
Labels: documentation, enhancement

#63 Expose set panic hook
  bindings/wallet-cordova/src/electron/walletProxy.js
  bindings/wallet-js/src/lib.rs
  bindings/wallet-js/src/utils.rs
Labels: bindings - js

#64 Wallet retrieve funds only once
  bindings/wallet-core/src/wallet.rs
  wallet/src/recovering/daedalus.rs
  wallet/src/recovering/icarus.rs
  wallet/src/recovering/mod.rs
  wallet/tests/daedalus.rs
  wallet/tests/yoroi.rs
Labels: enhancement

#67 change cordova plugin test to match api get ignored function name
  bindings/wallet-cordova/tests/tests.js
Labels: bindings - cordova, bug

#65 Add wallet cordova ios to release
  .github/workflows/release.yaml
Labels: CI/CD, bindings - cordova

#68 Add cordova argscheck
  README.md
  bindings/wallet-cordova/src/electron/walletProxy.js
  bindings/wallet-cordova/www/wallet.js
Labels: bindings - cordova
