Repository input-output-hk/chain-wallet-libs, pull requests merged in 2020-06, with the labels that each got.

#72 Add vote cast to jni
  bindings/wallet-cordova/plugin.xml
  bindings/wallet-cordova/src/android/WalletPlugin.java
  bindings/wallet-cordova/tests/plugin.xml
  bindings/wallet-cordova/tests/tests.js
  bindings/wallet-cordova/www/wallet.js
  bindings/wallet-core/src/error.rs
  bindings/wallet-core/src/wallet.rs
  bindings/wallet-jni/Cargo.toml
  bindings/wallet-jni/java/WalletTest.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Proposal.java
  bindings/wallet-jni/java/com/iohk/jormungandrwallet/Wallet.java
  bindings/wallet-jni/src/lib.rs
  wallet/src/transaction/builder.rs
Labels: VOTE, bindings - cordova, bindings - jni

#74 wallet-cordova: add VoteCast support for iOS
  bindings/wallet-c/wallet.h
  bindings/wallet-cordova/src/ios/WalletPlugin.h
  bindings/wallet-cordova/src/ios/WalletPlugin.m
  bindings/wallet-cordova/www/wallet.js
Labels: bindings - cordova

#73 Add vote cast to wallet js
  bindings/wallet-core/src/lib.rs
  bindings/wallet-js/src/lib.rs
Labels: bindings - js
